<%= render 'global/navbar' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<body class='userBody'>
  <div class="container">
    <div class="userForms createAccount row">
      <div class="col s3 hide-on-small-only">
        <br>
        <br>
        <ul>
          <li style="text-align: center;"><%= link_to "Edit Profile", edit_user_registration_path, class: 'black-text' %></li>
          <br>
          <li style="text-align: center;"><%= link_to "View My Profile", user_path(current_user.id),
          :class => 'waves-effect waves-blue waves-ripple btn orange darken-3' %>
          </li>
        </ul>
      </div>
      <div class="col s9 m6 offset-m1">
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">account_circle</i>
          <label for="icon_prefix">Full Name</label>
          <%= f.text_field :fullname, autofocus: true%>
        </div>
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">email</i>
          <label for="icon_prefix">Email Address</label>
          <%= f.email_field :email%>
        </div>
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">phone</i>
          <label for="icon_prefix">Phone Number</label>
          <%= f.text_field :phone_number%>
        </div>
        <div class="center-align">
          <label for=":file"><h6>Upload a profile picture:</h6></label>
          <%= f.uploadcare_field :file, :data => {:images_only => true, :crop => "500x500 minimum",
          :image_shrink => "500x500", :clearable => true } %>
          <br>
          <br>
        </div>
        <hr class="editHr">
        <br>
        <div class="actions center">
          <%= f.submit "Save", :class=>'waves-effect waves-blue waves-ripple btn orange darken-3' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
