<%= render 'global/navbar' %>

<%= form_for @venue do |f| %>

<body class='userBody'>
  <div class="container">
    <div class="userForms createAccount row">
      <div class="col s12 m6 offset-m3">
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">account_circle</i>
          <label for="icon_prefix">Venue Name</label>
          <%= f.text_field :venue_name, autofocus: true %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">email</i>
          <label for="icon_prefix">Address</label>
          <%= f.text_field :address %>
        </div>
        <div class="input-field">
          <i class="material-icons prefix blue-grey-text">supervisor_account</i>
          <label for="icon_prefix"></label>
          <%= f.select :accomodate, options_for_select([["6", 6], ["8", 8], ["10", 10], ["12", 12], ["14", 14]]) %>
        </div>
        <form action="#">
          <div class="input-field">
          <i class="material-icons prefix blue-grey-text">perm_scan_wifi</i>
            <%= f.check_box :wifi, id: 'wifi' %>
            <%= f.label 'WiFi', for: 'wifi', id: 'wifi' %>
          </div>
        </form>
        <br>
        <div class="center-align">
        <label for=":file"><h6>Upload your venue's picture:</h6></label>
          <%= f.uploadcare_field :file, :data => {:images_only => true, :crop => "1920x1080 minimum",
          :image_shrink => "1920x1080", :clearable => true } %>
        </div>
        <br>
        <hr>
        <br>
        <div class="actions">
          <%= f.submit "Save", :class=>'waves-effect waves-blue waves-ripple btn orange darken-3' %>
        </div>
      </div>
    </div>
      <% end %>
  </div>
</body>
