<%= render 'global/navbar' %>

<div class="grass">
  <div class="bg"></div>
    <div class="jumbotron">
      <h1>Draft Venues</h1>
    </div>
</div>

<div class="container">
  <br>
  <div class="col s12 l12">
    Find the perfect fit: Explore draft venues.
  </div>
  <br>
  <hr>
  <br>
  <div class="searchFilter row">
    <div class="col s4 l12 center-align">
    </div>
    <div class="col s4 l12 center-align">
      League Size
    </div>
    <div class="col s4 l12 center-align">
      Find a venue
    </div>
  </div>
  <br>
  <br>
  <div class="venueView row">
    <div class="col s3 l12">
      Image Picture
    </div>
    <% @venues.each do |f| %>
    <div class="col s3 l12">
      <p><%= f.venue_name %></p>
      <p><%= f.address %></p>
    </div>
    <div class="col s3 l12">
      <p><%= f.wifi %></p>
      <p><%= f.accomodate %></p>
    </div>
    <div class="col s3 l12">
        Book it!
    </div>
  </div>
  <br>
  <hr>
  <% end %>
</div>
