<%= render 'global/navbar' %>

<div class="container">
  <br>
  <div class="row center-align">
    <h3><%= @venue.venue_name %></h3>
  </div>

  <hr>
  <br>
  <div class="row">
    <div class="row col s12">
      <img class="responsive-img" src="http://cdn1.thecomeback.com/theapparty/wp-content/uploads/sites/14/2014/08/draft5.jpg" alt="" />
    </div>
  </div>

    <div class="row">
      <div class="col s6 center-align">
        <i class="medium material-icons prefix">perm_scan_wifi</i>
        <p><%= t(@venue.wifi.class) %></p>
      </div>
      <div class="col s6 center-align">
        <i class="medium material-icons prefix">supervisor_account</i>
        <p><%= @venue.accomodate %></p>
      </div>
    </div>

    <div class="row">
      <div class="col s6 flow-text">
        <h5>Address</h5>
        <%= @venue.address %>
      </div>
      <div class="col s6 flow-text">
        <h5>Request to Book</h5>
          <%= render 'bookings/form' %>
      </div>
    </div>
</div>
